<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1 style="text-align: center">Whatsapp</h1>
    <form action="/chats/new" method="get">
      <div class="centerdiv">
        <button>Add New Chat</button>
      </div>
    </form>
    <div class="container">
      <% for(let chat of chats){%>
      <div class="chat">
        <p class="text"><%= chat.from%></p>
        <p class="msg"><%= chat.msg%></p>
        <p class="text"><%= chat.to%></p>
        <div class="form-btn">
          <form action="/chats/<%= chat._id %>/edit" class="">
            <button class="btn-edt">Edit</button>
          </form>
          <form action="/chats/<%= chat._id %>/?_method=DELETE" method="post">
            <button class="btn-dlt">Delete</button>
          </form>
        </div>
        <div class="date">
          <p><%=chat.created_at.toString().split(" ")[4] %></p>
          <p>
            <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
          </p>
        </div>
      </div>

      <% }%>
    </div>
  </body>
</html>
